* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif
}

body {
    background-color: #0e7791;
    color: #F9F9FC;
}

h1, h2, h3 {
    color: #0F12F0;
    padding: 1%;
}

h1 {
    font-size: 450%;
}

h2 {
    font-size: 200%;
}

li {
    list-style: none;
}

p {
    color: #0e7791;
}

button {
    margin: 1%;
    background-color: #0e7791;
    color: #F9F9FC;
    padding: 1.5%;
    font-size: 150%;
}

.page-container {
    padding: 25px;
    height: 100vh;
}

.header {
    display: inline;
    font-size: 250%;
    padding: 1%;
}

.header button {
    position: absolute;
    left: 85%;
    bottom: 90%;
    padding: 0.5%;
    background-color: #0F12F0;
    color: #F9F9FC;
    font-weight: bold;
    font-size: 50%;
    border-radius: 10%;
}

.quiz-container {
    background-color: #F9F9FC;
    margin: 0 auto;
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 1%;
    text-align: center;
}

.quiz {
    margin-top: 25%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.quiz ul {
    color: #0e7791;
    font-size: 300%;
    text-align: center;
}

#quiz-greeting {
    margin-top: 25%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

#questions-section, #results-section, #leaderboard {
    display: none;
}

#results {
    padding: 1%;
}